network={
    ssid="GovWifi"
    key_mgmt=WPA-EAP
    eap=TLS
    identity="${GW_USERNAME}"

    ca_cert="/etc/freeradius/3.0/certs/govwifi_ca.pem"
    client_cert="/etc/freeradius/3.0/certs/broken_cert.pem"
    private_key="/capacity_tests/client.key"

}
